# These owners will be the default reviewers for pull requests.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @Princeag1310
